/*main style*/
* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #0b0d17;
  --secondary: #d0d6f9;
  --white: #ffffff;
  --dark-gray: #1c1e29;
  --gray: #24262f;
  --light-gray: #979797;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  /* font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Bellefair', serif; */
}

/*shared*/
header {
  padding: 3rem;
  padding-right: 0;
  display: flex;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

header .line {
  border-bottom: 1px solid var(--light-gray);
  width: 100%;
  display: inline-block;
  position: relative;
  left: 3%;
  z-index: 2;
}

header nav {
  position: relative;
  padding: 1.4rem 8rem;
  background: #9797970f;
  backdrop-filter: blur(16px);
}

header nav ul {
  display: flex;
  gap: 10px;
  margin: 0;
}

header .nav-link a {
  text-decoration: none;
  padding-bottom: 1.85rem;
  color: var(--white);
}

header .nav-link span {
  font-weight: bold;
}

header .nav-link.active a {
  border-bottom: 3px solid var(--white);
}

header .nav-link a:hover {
  border-bottom: 3px solid var(--light-gray);
  color: var(--white);
  text-decoration: none;
}

header .hamburger,
header .close {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding-top: 0;
    gap: 10px;
    justify-content: space-between;
  }

  header .line {
    display: none;
  }

  header nav {
    padding: 1.4rem 1rem;
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 1rem;
  }

  header nav {
    transform: translateX(100%);
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    bottom: 0;
    transition: all ease-in-out 0.2s;
    z-index: 444;
  }

  header nav.active {
    transform: translateX(0%);
    padding: 1.8rem 1rem;
    width: fit-content;
  }

  header nav ul {
    flex-direction: column;
    display: none;
    padding-top: 2rem;
  }

  header nav .close {
    display: none;
  }

  header nav.active ul,
  header nav.active .close {
    display: block;
  }

  .nav-link {
    padding-right: 4rem;
  }

  header .hamburger,
  header .close {
    cursor: pointer;
    display: block;
    width: 18px;
  }

  header .close {
    align-self: flex-end;
  }

  header .nav-link.active a,
  header .nav-link a:hover {
    border-bottom: none;
  }
}

/*typography style*/
.head1 {
  font-family: 'Bellefair', serif;
  font-size: 150px;
}

.head2 {
  font-family: 'Bellefair', serif;
  font-size: 100px;
}

.head3 {
  font-family: 'Bellefair', serif;
  font-size: 56px;
  text-transform: uppercase;
}

.head4 {
  font-family: 'Bellefair', serif;
  font-size: 32px;
}

.head5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
  color: var(--white);
  text-transform: uppercase;
  padding: 0;
}

.subhead1 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
  text-transform: uppercase;
}

.subhead2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: var(--secondary);
}

.subhead3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--secondary);
}

.body-text {
  color: var(--secondary);
  font-size: 18px;
}

/*preloader style*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 22222;
}

.loader img {
  width: 5%;
}

.disppear {
  animation: vanish 1.2s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.num {
  color: #50525a;
  padding-right: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
}

/*home page*/
.home {
  background-image: url('./assets/home/background-home-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.explore {
  border-radius: 50%;
  height: 274px;
  width: 274px;
  border: none;
  position: relative;
  z-index: 4;
  transition: all ease-in 0.2s;
  outline: none;
  cursor: pointer;
  border: 30px solid transparent;
  margin-bottom: 20px;
  position: relative;
}
.explore:focus {
  outline: 0;
}

.btn-style {
  width: 100%;
  height: 100%;
  background-color: red;
}
.explore:hover + .btn-style {
  border-radius: 50%;
  top: 0;
  left: 0;
  display: block;
  background: #9797970f;
  backdrop-filter: blur(2px);
  position: absolute;
  height: 274px;
  width: 274px;
  transform: scale(1.2);
  font-size: 27px;
}

.content {
  min-height: 81vh;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0 2rem;
  justify-content: center;
}
.home .head5{
  color: var(--secondary);
}

@media screen and (max-width: 768px) {
  .num {
    padding-right: 1rem;
  }
  .home {
    background: url('./assets/home/background-home-tablet.jpg');
    background-size: cover;
  }

  .head5 {
    font-size: 20px;
  }

  .home .body-text {
    width: 64%;
    margin: auto;
    font-size: 16px;
  }

  .explore {
    height: 263px;
    width: 263px;
    font-size: 32px;
    border: 15px solid transparent;
  }

  .explore:hover {
    height: 263px;
    width: 263px;
    border: 15px solid var(--gray);
    transform: scale(1.2);
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .home {
    background: url('./assets/home/background-home-mobile.jpg');
    background-size: cover;
  }

  .head1 {
    font-family: 'Bellefair', serif;
    font-size: 80px;
  }

  .head5 {
    font-size: 16px;
  }

  .explore {
    height: 150px;
    width: 150px;
    font-size: 20px;
    border: 15px solid transparent;
  }

  .explore:hover {
    height: 150px;
    width: 150px;
    border: 15px solid var(--gray);
    transform: scale(1.2);
    font-size: 18px;
  }

  .home .body-text {
    font-size: 15px;
    width: 96%;
  }
}

/*destination page*/
.destination {
  background-image: url('./assets/destination/background-destination-desktop.jpg');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.nav-tabs {
  border-bottom: none;
  gap: 15px;
  margin-bottom: 3rem;
  padding: 0 15px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-link:focus {
  outline: none;
}

.nav-tabs .nav-link.active {
  color: var(--white);
  background: none;
  border: none;
  position: relative;
}

.nav-tabs .nav-link.active::after {
  position: absolute;
  content: '';
  height: 3px;
  bottom: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  background-color: var(--white);
}
.nav-tabs .nav-link:hover {
  position: relative;
}
.nav-tabs .nav-link:hover::after {
  position: absolute;
  content: '';
  height: 3px;
  bottom: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  background-color: var(--light-gray);
}

.hr {
  border-bottom: 1px solid #383b4b;
  width: 100%;
}

.info {
  gap: 5rem;
}

.destination .head5 {

  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .destination {
    background: url('./assets/destination/background-destination-tablet.jpg');
    background-size: cover;
  }
}
@media screen and (max-width: 991px) {
  .destination .nav-tabs {
    position: relative;
    top: 26rem;
    z-index: 4;
  }
  .destination .dest-img {
    position: relative;
    top: -6rem;
    width: 58%;
  }
  .destination .body-text {
    width: 90%;
    margin: auto;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .destination .nav-tabs {
    position: relative;
    top: 20rem;
    z-index: 4;
  }
}

@media screen and (max-width: 576px) {
  .destination {
    background: url('./assets/destination/background-destination-mobile.jpg');
    background-size: cover;
  }
  .destination .nav-tabs {
    position: relative;
    top: 20rem;
    z-index: 4;
  }

  .destination .body-text {
    width: 90%;
    margin: auto;
    font-size: 15px;
  }
  .nav-tabs .nav-link {
    padding-right: 1rem;
  }
  .subhead3 {
    font-size: 14px;
  }
  .head2 {
    font-size: 56px;
  }
}

@media screen and (max-width: 495px) {
  .destination .nav-tabs {
    position: relative;
    top: 12rem;
    z-index: 4;
    margin-bottom: 1rem;
  }
  .nav-tabs {
    gap: 5px;
  }
  .info {
    gap: 2rem;
    flex-direction: column;
  }

  .head5 {
    text-align: center;
  }
}

/*crew page*/
.crew {
  background-image: url('./assets/crew/background-crew-desktop.jpg');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.carousel-item img {
  margin: 0 auto;
}
.img-container {
  position: relative;
  margin: auto;
  min-height: 700px;
  display: flex;
  align-items: flex-end;
}
.carousel {
  width: 100%;
}
.carousel-caption {
  position: initial;
}
.crew .body-text {
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  min-height: 100px;
}
.crew .head4 {
  color: var(--light-gray);
  text-transform: uppercase;
}
.crew .head3 {
  text-transform: uppercase;
}
.carousel-indicators {
  bottom: 8rem;
  justify-content: left;
  margin-left: 0;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.crew .content {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .crew {
    background: url('./assets/crew/background-crew-tablet.jpg');
    background-size: cover;
  }
  .carousel-indicators {
    bottom: 72%;
    justify-content: center;
    margin-left: 15%;
  }
  .crew .head4 {
    font-size: 24px;
  }
   .head3 {
    font-size: 40px;
  }
  .crew .body-text {
    font-size: 16px;
    width: 64%;
  }
}

/* .img-container::after{
  height: 0;
} */

@media screen and (max-width: 669px) {
  .crew .body-text {
    min-height: 150px;
  }
  .carousel-item img {
    min-height: 285px;
    height: 285px;
    margin: 1rem auto 2rem !important;
  }
  .img-container {
    position: relative;
    margin: auto;
    min-height: 285px;
    display: initial;
    text-align: center;
  }
  .carousel-indicators {
    bottom: 45%;
  }
  .img-container::after {
    position: absolute;
    content: '';
    height: 1px;
    left: 9%;
    width: 82%;
    background: var(--light-gray);
    bottom: 2rem;
  }
  .crew .head4 {
    font-size: 16px;
  }
   .head3 {
    font-size: 24px;
  }
  .crew .body-text {
    width: 88%;
    margin: auto;
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .crew {
    background: url('./assets/crew/background-crew-mobile.jpg');
    background-size: cover;
  }
}
/*-----------------------------------technology page---------------------------------------*/

.technology {
  background-image: url('./assets/technology/background-technology-desktop.jpg');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.technology .head5 {
  margin-bottom: 4rem;
}
.technology .body-text{
  margin-top: 1.5rem;
  width: 80%;
}
.nav-pills{
  gap: 2rem;
}
.nav-pills .nav-link{
  background-color: transparent;
  color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--white);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: var(--white);
  color: var(--dark);

}
.technology .ipadimg{
  display: none;
}
.technology .desktopimg{
  display: block;
}
.technology .head5{
  margin-left: 18.1%;
}
.tech-content {
  max-width: 1370px;

}
@media screen and (max-width: 1700px) {
  .technology .head5{
margin-left: 2.2%;
  }
  .tech-content {
    width: 1108px;
  
  }
}
@media screen and (max-width: 1025px) {
  .technology .head5{
margin-left: 0%;
  }
  .tech-content {
    width:906px;
  
  }
}
@media screen and (max-width: 768px) {
  .technology {
    background: url('./assets/technology/background-technology-tablet.jpg');
    background-size: cover;
  }
  .technology .ipadimg{
    display: block;
    top: -5rem;
    position: relative;
  }
  .technology .desktopimg{
    display: none;
  }
  .nav-pills{
    position: relative;
    top: 20rem;
    z-index: 4;
  }
  .tech-text{
    margin-top: 4rem;
    text-align: center;
  
  }
  .technology .body-text{
    margin: auto;
    width: 67%;
    font-size: 16px;
  }

}

@media screen and (max-width: 576px) {
  .technology {
    background: url('./assets/technology/background-technology-mobile.jpg');
    background-size: cover;
  }
  .nav-pills{
    position: relative;
    top: 8rem;
    z-index: 4;
  }
  .tech-text{
    margin-top:0;
    text-align: center;
  
  }
  .nav-pills .nav-link{
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .technology  .body-text {
    width: 95%;
    margin: auto;
    font-size: 15px;
  }
}
